body,
body[data-theme="light"] {
  --primaryColor: #e9e9fa ;
  --secondaryColor: #343837;
  --cardColor: #fff;

}

body[data-theme="dark"] {
  --primaryColor: rgb(20, 20, 35);
  --secondaryColor: #f3ece7;
  --cardColor: rgb(20,20,60);
  background-color: rgb(20, 20, 35);

}

body,
button {
  background-color: var(--primaryColor);
}

p{
  color: var(--secondaryColor);
}



body {
  background-color: var(--thirdColor);
  color: #fffffd;


}

h1,
p {
  padding: 0;
  margin: 0;
  color: var(--secondaryColor);
  font-family: 'inter', sans-serif;
}

.container {
  padding: 1.5em;
  max-width: 1400px;
  margin: auto;
}

.grid {
  display: inline-block;
  width: 100%;
}

.col {
  width: 25%;
  float: left;
}

.card-container {
  padding: 0 1.5em 3em 1.5em;
}

body .card {
  background-color: var(--cardColor);

  text-align: center;
  padding: 0 0 1em 0;
  border-radius: 0.3em;

}

.card>h1 {
  font-size: 4em;
}

.card>.data-type {
  letter-spacing: 4px;
  margin-left: 8px;
}

.text-sucess {
  color: green;
}

.text-danger {
  color: red;
}

.card>.data-today {
  margin: 2em 0 1em 0;
}

.border {
  background-color: #4267B2;
  height: 0.4em;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  margin-bottom: 1em;
}

#b-card-facebook>.border {
  background-color: #4F86F7;
}

#b-card-facebook>p>i {
  color: #4267B2;
}

#b-card-twitter>.border {
  background-color: #50BFE6;
}

#b-card-twitter>p>i {
  color: #1ba2f4;
}

#b-card-instagram>.border {
  background-color: #FD5B78;
}

#b-card-instagram>p>i {
  background: linear-gradient(to right, #fac06c, #db4e93);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#b-card-youtube.border {
  background-color: #ED0A3F;
}

#b-card-youtube p img {
  color: #da4e5b;
}

.social-icon { 
  font-size: 2em;
}

.social-username {
  letter-spacing: 0.5px;
  padding: 1em 0;
}

.social-username>i {
  vertical-align: middle;
  letter-spacing: 7px;
}

@media (max-width: 1100px) {
  .col {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .col {
    width: 100%;
  }
}

.light-blue {
  color: #8a81bd;
}

#first-header {
  padding: 1.5em 0 3em 1.5em;
}

#second-header {
  padding: 0 0 1em 1.5em;
}

.small-card {
  text-align: left;
  position: relative;
  height: 120px;

}

.small-text {
  top: 1.5em;
  left: 1.5em;
  position: absolute;
}

.small-logo {
  top: 1em;
  right: 1.5em;
  position: absolute;
}

.small-number {
  bottom: 0.05em;
  left: 0.3em;
  position: absolute;
}

.small-percent {
  bottom: 0.8em;
  right: 1.5em;
  position: absolute;
}

.toggle { 
    position : absolute; 
    display : inline-flex;
    width : 60px; 
    height : 30px; 
    background-color: gray; 
    border-radius: 30px; 
    float: right; 
} 
        
/* After slide changes */
.toggle:after { 
    content: ''; 
    position: absolute; 
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
    background-color: white; 
    top: 0px;  
    left: 0px; 
    transition:  all 0.5s; 
} 
        
/* Checkbox cheked effect */
.checkbox:checked + .toggle::after { 
    left : 29px;
    background-color: rgb(10, 10, 20);  
} 
        
/* Checkbox cheked toggle label bg color */
.checkbox:checked + .toggle { 
    background-color: seagreen; 
} 
        
/* Checkbox vanished */
.checkbox {  
    display : none;
    float: right; 
}
